.pet-column {
  float: left;
  padding: 20px;
  width: 33%;
  box-sizing: border-box;
}

.pet-column h3 {
  text-align: center;
}

.pet-column img {
  width: 100%;
}

.murphy {
  color: orange;
  background-color: black;
}

.logo {
    position: relative;
    text-align: center;
}

#logo-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
}